##
# OpenSSL config file.
#
# Configuration is limited to what's needed
# for the WP docker certificates, specifically.
#
# @see https://www.openssl.org/docs/man1.1.1/man5/config.html
##

dir = ./openssl

[ ca ]
default_ca = ca_default

[ ca_default ]
nameopt = ca_default
certopt = ca_default
serial = $dir/serial-db
database = $dir/certs-db
new_certs_dir = $dir/certs
certificate = $dir/certs/ca-crt.pem
private_key = $dir/certs/ca-key.pem
copy_extensions = copyall
policy = ca_policy
email_in_dn = yes
preserve = yes

[ ca_policy ]
commonName = supplied
countryName = supplied
stateOrProvinceName = supplied
organizationName = supplied
organizationalUnitName = supplied
emailAddress = supplied

[ req ]
distinguished_name = req_distinguished_name
[ req_distinguished_name ]

[ v3_ca ]
basicConstraints = CA:TRUE
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer:always

[ v3_i10e ]
basicConstraints = CA:TRUE
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer:always
